.Section {
  display: flex;
  flex-direction: column;

  justify-content: center;

  padding: 5px;

  height: 100vh;
  width: 100%;

  .Content_Container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    gap: 0px;
    padding: 5px;
    
    justify-content: space-evenly;
    align-items: left;
    
    height: fit-content;
    width: fit-content;
    
    margin-left: 20px;

    .Small_Text {
      font-size: 18px;
      font-weight: 100;
      font-style: bold;
    }

    .Large_Text {
      font-size: 40px;
      font-weight: 100;
      font-style: bold;
    }

    .Project_Button {
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5px 20px;

      display: flex;

      justify-content: center;
      align-items: center;

      height: fit-content;
      width: fit-content;

      transition: 0.3s;
    }
  }
}
