.Section {
  border: 1px solid black;
  //   background: rgb(23, 26, 32);
  //   background: linear-gradient(
  //     90deg,
  //     rgba(23, 26, 32, 1) 0%,
  //     rgba(36, 54, 55, 0.773546918767507) 82%,
  //     rgba(36, 54, 55, 1) 100%
  //   );

  display: flex;
  flex-direction: column;

  position: relative;

  justify-content: center;
  align-items: center;

  padding: 5px;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  height: fit-content;
  width: 100%;

  .Content_Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    .Card {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #292b2f;
      border-radius: 5px;

      display: flex;
      flex-direction: column;

      padding: 50px;
      gap: 10px;

      justify-content: center;
      align-items: left;

      margin: auto;

      position: relative;
      cursor: pointer;

      height: 250px;
      width: 100%;

      transition: 0.3s;

      .Title {
        font-size: 18px;
        font-weight: 500;
      }

      .Description {
        font-size: 15px;
        font-weight: 100;
      }
    }
  }
}
